<section id="fh5co-feature">
	<div class="container">
		<!-- FEATURE -->
		<div class="row fh5co-feature-2">
			<!-- <h2 class="fh5co-uppercase-heading-sm text-center">Theme Features</h2>
			<div class="fh5co-spacer fh5co-spacer-md"></div> -->
			<div class="col-md-6 col-sm-6 fh5co-feature-item">
				<span class="fh5co-feature-icon fh5co-circle"><i class="ti-mobile"></i></span>
				<h3 class="text-center fh5co-feature-title h4 text-uppercase">Android APPS</h3>
				<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt. </p>
				<p class="text-center"><a href="/android/" class="btn btn-primary btn-sm">Read more</a></p>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-6 col-sm-6 fh5co-feature-item">
				<span class="fh5co-feature-icon fh5co-circle"><i class="ti-github"></i></span>
				<h3 class="text-center fh5co-feature-title h4 text-uppercase">GitHub Projects</h3>
				<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
				<p class="text-center"><a href="/github/" class="btn btn-primary btn-sm">Read more</a></p>
			</div>
			<!--<div class="fh5co-spacer fh5co-spacer-md"></div> -->
		</div>
	</div>
</section>