<section>
	<div class="container">
		<div class="row fh5co-feature-1">
			<div class="col-md-4 col-md-offset-1 col-sm-5 fh5co-feature-figure">
				<img src="/images/hijricalendar_1.png" alt="Image" class="img-responsive">
			</div>
			<div class="col-md-7 col-sm-6 fh5co-feature-blurb">
				<ul>
					<li>
						<div class="fh5co-feature-blurb-text">
							<p class="fh5co-feature-blurb-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi explicabo nihil doloribus consectetur cum quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi explicabo nihil doloribus amet, consectetur adipisicing elit. Excepturi explicabo nihil doloribus consectetur cum quam. </p>
							<a href="#" class="btn btn-primary" style="float: right;">see more</a>
						</div>
					</li>		
				</ul>
					
			</div>
		</div>
		<div class="fh5co-spacer fh5co-spacer-sm"></div>
		<div class="row fh5co-feature-1">
			<div class="col-md-4 col-md-offset-1 col-sm-5 fh5co-feature-figure">
				<img src="/images/hijricalendar_1.png" alt="Image" class="img-responsive">
			</div>
			<div class="col-md-7 col-sm-7 fh5co-feature-blurb">
				<ul>
					<li>
						<div class="fh5co-feature-blurb-text">
							<p class="fh5co-feature-blurb-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi explicabo nihil doloribus consectetur cum quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi explicabo nihil doloribus amet, consectetur adipisicing elit. Excepturi explicabo nihil doloribus consectetur cum quam. </p>
							<a href="#" class="btn btn-primary" style="float: right;">see more</a>
						</div>
					</li>		
				</ul>
					
			</div>
		</div>
		<div class="fh5co-spacer fh5co-spacer-sm"></div>
	</div>
</section>

