<div class="row sbghio-feature-item">
	<div class="sbghio-feature-heading">
		<h2>{{.Title}}</h2>
	</div>
	<div class="sbghio-feature-section">
		<div class="col-md-4 col-md-offset-1 col-sm-5 sbghio-feature-carousel">
			<div class="owl-carousel-fullwidth owl-carousel-2">
				<div class="item">
					<div class="col-md-12  col-sm-12 ">
						<div class="row">
							<div class="sbghio-feature-carousel-img"> 
								<img src="/images/hijricalendar_1.png" alt="Images" class="img-responsive">
							</div>
						</div>
					</div>

				</div>
				<div class="item">
					<div class="col-md-12 col-sm-12 ">
						<div class="row">
							<div class="sbghio-feature-carousel-img"> 
								<img src="/images/hijricalendar_2.png" alt="Images" class="img-responsive">
							</div>
						</div>
					</div>

				</div>
				<div class="item">
					<div class="col-md-12 col-sm-12 ">
						<div class="row">
							<div  class="sbghio-feature-carousel-img"> 
								<img src="/images/hijricalendar_2.png" alt="Images" class="img-responsive">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="col-md-6 col-md-6-offset-1 col-sm-6 col-sm-6-offset-1 sbghio-feature-blurb">
			<div class="sbghio-feature-blurb-text">
				{{.Content}}
			</div>
			<div class="row col-md-6 col-sm-6 sbghio-feature-blurb-playstore">
				<a href='{{.Params.playstore}}'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
			</div>
		</div>
	</div>
</div>
<div class="fh5co-spacer fh5co-spacer-sm"></div>
