<div id="fh5co-main" class="sbghio-resume-main">   
    <div class="container">
        <div class="row">
            <div class="col-md-12 sbghio-resume">
                <div class="col-md-4 sidebar">
                    <div class="row">
                        <div class="sbghio-resume-img">
                            <img src="/images/img_3.jpg">
                        </div>
                        <div class="section">
                            <div class="col-sd-12 col-md-3 section-icon"><i class="fa fa-user"></i></div>
                            <div class="col-sd-12 col-md-9 section-item-details">
                                <p>{{ .Params.about_me }}</p>
                            </div>
                        </div>
                        <div class="section">
                            <div class="col-sd-12 col-md-3 section-icon"><i class="fa fa-phone"></i></div>
                            <div class="col-sd-12 col-md-9 section-item-details">
                                {{ range .Params.contacts}}
                                <div class="personal">
                                    <h4>{{ .number }}</h4>
                                    <span >{{ .type }}</span>
                                </div>
                                {{ end }}
                            </div>
                        </div>

                        <div class="section">
                            <div class="col-sd-12 col-md-3 section-icon"><i class="fa fa-envelope"></i></div>
                            <div class="col-sd-12 col-md-9 section-item-details">
                                {{ range .Params.emails}}
                                <div class="personal">
                                    <h4>{{ .email }}</h4>
                                    <span >{{ .type }}</span>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                        <div class="section">
                            <div class="col-sd-12 col-md-3 section-icon"><i class="fa fa-heart"></i></div>
                            <div class="col-sd-12 col-md-9 section-item-details">
                                <div class="heading">
                                    <h3>Technical Skills</h3>
                                </div>
                                <div class="skills">
                                    {{ range .Params.skills}}
                                    <span>{{ .name }}</span>
                                    <div class = "progress">
                                        <div class="determinate" style="width: {{ .level }}%;">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 main">
                    <div class="section">
                        <div class="col-sd-12 col-md-2 section-icon"><i class="fa fa-suitcase"></i></div>
                        <div class="col-sd-12 col-md-10 section-item-details">
                            <div class="heading">
                                <h2>Work Experience</h2>
                            </div>
                            {{ range .Params.work }}
                            <div class="work">
                                <h3>{{ .position }}</h3>
                                <span >@{{ .company }}</span>
                                <h4>{{ .from }} - {{ .to }}</h4>
                                <p>{{ .desc }}</p>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    <div class="section">
                        <div class="col-sd-12 col-md-2 section-icon"><i class="fa fa-graduation-cap"></i></div>
                        <div class="col-sd-12 col-md-10 section-item-details">
                            <div class="heading">
                                <h2>Education</h2>
                            </div>
                            {{ range .Params.education }}
                            <div class="work">
                                <h3>{{ .course }}</h3>
                                <span>@{{ .institution }}</span>
                                <h4>{{ .from }} - {{ .to }}</h4>
                                <p/>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ template "partials/commons/page-footer.html" .}}
    </div>