<div class="row row-pb-md">
	<div class="col-md-12">
		<div class="col-md-8">
			<ul id="gtco-post-list">
				{{ range .Paginator.Pages }}
				<li class="full entry animate-box" data-animate-effect="fadeIn">
					<a href="single.html">
						<div class="entry-img" style="background-image: url(/images/img_1.jpg"></div>
						<div class="entry-desc">
							<h3>{{ .Title }}</h3>
							<p>{{ if  eq .Params.span 1 }}{{ .Summary|truncate 500 }}{{else}} {{ if  eq .Params.span .667}} {{ .Summary|truncate 400 }}{{else}}{{ .Summary|truncate 200 }}{{end}}{{end}}</p>
						</div>
					</a>
					<a href="#" class="post-meta">Business  <span class="date-posted">4 days ago</span></a>
				</li>
				{{ end }}
			</ul>
		</div>
		<div class="col-md-4">
			<div class="sbghio-tag-title">
				<h3>Tags</h3>
			</div>
			<ul id="sbghio-tag-list">
				<li><a href="#" class="sbghio-tag-btn">default</a></li>
				<li><a href="#" class="sbghio-tag-btn">default dfs</a></li>
				<li><a href="#" class="sbghio-tag-btn">defau</a></li>
				<li><a href="#" class="sbghio-tag-btn">defa dfdfd dfdf</a></li>
				<li><a href="#" class="sbghio-tag-btn">defaudf fdf fdf</a></li>
			</ul>
			<div class="sbghio-tag-title">
				<h3>Categories</h3>
			</div>
			<ul id="sbghio-tag-list">
				<li><a href="#" class="sbghio-tag-btn">default</a></li>
				<li><a href="#" class="sbghio-tag-btn">default dfs</a></li>
				<li><a href="#" class="sbghio-tag-btn">defau</a></li>
				<li><a href="#" class="sbghio-tag-btn">defa dfdfd dfdf</a></li>
				<li><a href="#" class="sbghio-tag-btn">defaudf fdf fdf</a></li>
			</ul>
			<div class="sbghio-tag-title">
			<h3>Featured Posts</h3>
			</div>
			<ul id="gtco-post-list" class="related">
				<li class="related animate-box entry" data-animate-effect="fadeIn">
					<a href="#">
						<div class="entry-img" style="background-image: url(/images/img_3.jpg"></div>
						<div class="entry-desc">
							<h3>How Web Hosting Can Impact Page Load Speed</h3>
						</div>
					</a>
					<a href="#" class="post-meta">Business  <span class="date-posted">4 days ago</span></a>
				</li>
				<li class="related animate-box entry" data-animate-effect="fadeIn">
					<a href="#">
						<div class="entry-img" style="background-image: url(/images/img_4.jpg"></div>
						<div class="entry-desc">
							<h3>How Web Hosting Can Impact Page Load Speed</h3>
						</div>
					</a>
					<a href="#" class="post-meta">Business  <span class="date-posted">4 days ago</span></a>
				</li>
			</ul>	
		</div>
	</div>
